@charset "utf-8";
/* CSS Document */
body,p,div,ul,li,dl,hr,span,img,a{
	margin:0;
	padding:0;
	list-style-type:none;
}
html,body{height:auto;}
body{
	font-family:"Microsoft YaHei";
}
a{text-decoration:none;}
input,select{
	outline:none;
}
/*首页*/
/*首页侧边栏*/
#aside{
	position:fixed;
	right:0;
	z-index:10000;
	width:60px;
	height:100%;
	background-color:#FCEDE0;
	padding-top:10%;
	box-shadow:-5px 0px 5px #A5A3A3;
}
#aside ul li{
	text-align:center;
	margin-top:42px;
}
#aside ul li div a{
	display:block;
}
#aside ul .login img{
	border-radius:50%;
}
#aside ul li span,#aside ul li a{
	font-size:12px;
	color:#666;
}
#aside input{
	position:fixed;
	right:17px;
	bottom:20px;
	width:20px;
	height:19px;
	border:none;
	background:url(../img/sfexd.png) no-repeat;
	cursor:pointer;
}
#openttool_btn{
	position:fixed;
	right:0;
	bottom:18px;
	width:76px;
	height:59px;
	display:none;	
	cursor:pointer;
	z-index:888;
	background:url(../img/tool1.png) no-repeat;
}
/*首页顶部导航部分*/
.topnavbg{
	width:100%;
	height:38px;
	line-height:38px;
	background-color:#F4F4F4;
	border-bottom:1px solid #D9D9D9;
}
/*居中设置*/
.topnavbg .nav,#toplogo,#pagenavbg #page_nav,.banner,
.goodsclass,#main_content{
	width:1202px;
	margin:0 auto;
}
.topnavbg .nav:after{
	display:block;
	content:"";
	height:0;
	clear:both;
	visibility:hidden;

}
.topnavbg .nav div{
	float:left;
}
.topnavbg .nav div span,.topnavbg .nav div a{
	font-size:12px;
	color:#565656;
}
.topnavbg .nav div a.login_btn{
	display:inline-block;
	width:42px;
	height:23px;
	text-align:center;
	line-height:23px;
	color:#fff;
	background-color:#D6123E;
	border-radius:5px;
	margin-left:20px;
	margin-right:10px;
}
.topnavbg .nav div a#username{
	color:#565656;
	background-color:transparent;
	border-radius:0px;
}
.topnavbg .nav div a#logout{
	color:#999;
	text-decoration:underline;
}
.topnavbg .nav .nav_first{
	float:right;
}
.topnavbg .nav .nav_first>li{
	float:left;
	width:78px;
	position:relative;
	border:1px solid #F4F4F4;
	border-top:0px;
	border-bottom:0px;
}
.topnavbg .nav .nav_first>li+li{
	margin-left:10px;
}
.topnavbg .nav .nav_first>li>a{
	font-size:12px;
	color:#666;
	display:block;
	padding-left:5px;
}
.topnavbg .nav .nav_first>li>a{
	background:url(../img/竖线.png) 113% no-repeat;
}
.topnavbg .nav .nav_first>li:last-child>a,
.topnavbg .nav #homenav_first>li>a{
	background:none;
}
.topnavbg .nav .nav_first>li>a i{
	display:inline-block;
	width:9px;
	height:8px;
	background:url(../img/小箭头向下.png) 92% no-repeat;
	margin-left:5px;
}
.topnavbg .nav .nav_first li ul{
	display:none;
	position:absolute;
	top:100%;
	left:-1px;
	z-index:100;
	width:78px;
	height:auto;
	background-color:#FFF;
	border:1px solid #D9D9D9;
	border-top:0px;
}
.topnavbg .nav .nav_first li ul li{
	height:30px;
	line-height:30px;
}
.topnavbg .nav .nav_first li ul li a{
	display:block;
	font-size:12px;
	color:#666;
	text-align:left;
	padding-left:5px;
}
.topnavbg .nav .nav_first li ul li:hover{
	background-color:#F4F4F4;
}
.topnavbg .nav .nav_first>li:hover{
	background-color:#FFF;
	border:1px solid #D9D9D9;
	border-bottom:0px;
	border-top:0px;
}
.topnavbg .nav .nav_first>li:hover a i,
.top_usercenter span:hover i,
.topsearch .form div:hover span i{
	animation:myrotate 0.2s linear;
	animation-fill-mode:forwards;
	/*当动画完成后保持最后一个属性值*/
	-webkit-animation:myrotate 0.2s linear;
	-webkit-animation-fill-mode:forwards;
	-moz-animation:myrotate 0.2s linear;
	-moz-animation-fill-mode:forwards;
	-o-animation:myrotate 0.2s linear;
	-o-animation-fill-mode:forwards;
}
@-webkit-keyframes myrotate{
	0%{-webkit-transform:rotate(0deg);
	   -webkit-transform-origin:50%;}
	100%{-webkit-transform:rotate(180deg);}
}
@keyframes myrotate{
	0%{transform:rotate(0deg);
	   transform-origin:50%;}
	100%{transform:rotate(180deg);}
}
/*.topnavbg .nav .nav_first li:hover ul{
	display:block;
}*/
 
#toplogo{
	height:119px;
	clear:both;
	overflow:hidden;
}
#toplogo>a{
	display:inline-block;
	float:left;
	width:204px;
	height:46px;
	background:url(../img/lezhiwang.png) no-repeat;
	margin-top:38px;
	margin-right:152px;
}
.topsearch{
	float:left;
	width:532px;
	margin:34px auto;
}
.topsearch .form{
	padding-left:2px;
	height:34px;
	line-height:31px;
	background-color:#D6123E;
	display:inline-block;
	position:relative;
}
.topsearch .form input{
	vertical-align:middle;
}
.topsearch .form input[type='search']{
	font-size:15px;
	color:#A9A9A9;
	width:450px;
	padding:5px 0px;
	border:1px solid #D6123E;
	text-indent:64px;
}
.topsearch .form input[type='button']{
	width:77px;
	height:27px;
	background-color:#D6123E;
	color:#fff;
	border:none;
	letter-spacing:6px;
	font-weight:bold;
	margin-left:-5px;
	cursor:pointer;
}
.topsearch .form div span{
	display:inline-block;
	font-size:13px;
	color:#666;
	cursor:pointer;
}
.topsearch .form div span i{
	display:inline-block;
	width:9px;
	height:8px;
	margin-left:5px;
	background:url(../img/小箭头向下.png) 92% no-repeat;
}
.topsearch .form div{
	position:absolute;
	left:10px;
	top:0;
	width:54px;
	background:url(../img/redxian.png) 90% no-repeat;
}
.topsearch .form div em{
	font-style:normal;
}
.topsearch .form div ul{
	position:absolute;
	top:95%;
	left:0;
	z-index:150;
	width:80%;
	height:auto;
	border-left:1px solid #666;
	background-color:#FFF;
	display:none;
}
.topsearch .form div ul li:hover{
	background-color:#DDD;
}
.topsearch .form div ul li{
	height:16px;
	line-height:16px;
	font-size:12px;
	color:#666;
	cursor:pointer;
}
.topsearch .hotsrh_word span,.topsearch .hotsrh_word a{
	font-size:13px;
	color:#666;
}
.topsearch .hotsrh_word a+a{
	padding-left:12px;
}
.top_usercenter{
	float:right;
	margin-top:30px;
}
.top_usercenter span{
	display:inline-block;
	width:76px;
	height:42px;
	line-height:42px;
	font-size:14px;
	color:#363636;
	background-color:#FAFAFA;
	border:1px solid #F0F0F0;
	border-radius:2px;
	padding-left:36px;
	cursor:pointer;
}
.top_usercenter span i{
	display:inline-block;
	width:16px;
	height:16px;
	background:url(../img/jiantx.png) no-repeat;
}
.top_usercenter .user_center{
	background:url(../img/rf.png) 10px no-repeat;
}
.top_usercenter .shopcar{
	width:86px;
	background:url(../img/wr.png) 10px no-repeat;
}
#pagenavbg{
	width:100%;
	height:46px;
	line-height:46px;
	background-color:#D6123E;
}
#pagenavbg #page_nav .nav_on{
	display:inline-block;
	width:202px;
	text-align:center;
	position:relative;
	z-index:105;
}
#pagenavbg #page_nav .nav_on>a{
	display:inline-block;
	width:180px;
	height:46px;
	font-size:18px;
	font-weight:bold;
	color:#FFF;
	background:#A60426 url(../img/duobian.png) 80% no-repeat;
	padding-right:22px;
}
#pagenavbg #page_nav>a{
	display:inline-block;
	width:164px;
	font-size:18px;
	color:#FFF;
	text-align:center;
}
#pagenavbg #page_nav>a:hover{font-weight:bold;}
/*所有商品分类部分*/
.goodsclass{
	display:none;
	position:absolute;
	top:98%;
	left:0;
	z-index:103;
	text-align:left;
}
#pagenavbg #page_nav .nav_on:hover div.goodsclass{
	display:block;
}
#pagenavbg #page_nav .nav_on .gdscls_home{
	display:block;/*首页商品分类菜单默认显示*/
	height:4px;
}
.goodsclass .gc_left{
	float:left;
	width:202px;
	height:490px;
	background-color:#D6123E;
	margin-top:0.1px;
}
.goodsclass .gc_left li{
	height:10%;
	padding-left:48px;
	position:relative;
}
.goodsclass .gc_left a:hover{
	text-decoration:underline;
}
.goodsclass .gc_left li img{
	float:left;
	margin-top:10px;
	margin-right:14px;
}
.goodsclass .gc_left li>a{
	font-size:14px;
	color:#F7DEE1;
}
.goodsclass .gc_left li.shechip{
	line-height:20px;
}
.goodsclass .gc_left .submenu{
	position:absolute;
	left:100%;
	top:0;
	width:684px;
	height:314px;
	background-color:#FFF;
	border:1px solid #E0D4B6;
	border-left:0px;
	padding-left:24px;
	padding-top:10px;
	display:none;
}
.goodsclass .gc_left li:nth-child(n+3) .submenu{
	top:-100px;
}
.goodsclass .gc_left li:nth-child(n+6) .submenu{
	top:-250px;
}
.goodsclass .gc_left li:hover>a{
	color:#DD5D70;
}
.goodsclass .gc_left .submenu dt{
	width:72px;
	font-size:14px;
	color:#363636;
	font-weight:bold;
}
.goodsclass .gc_left .submenu dl{
	width:660px;
	overflow:hidden;
}
.goodsclass .gc_left .submenu dl+dl{
	border-top:1px solid #E2E2E2;
	overflow:hidden;
}
.goodsclass .gc_left .submenu dt,
.goodsclass .gc_left .submenu dd{
	margin:0;
	display:inline-block;
}
.goodsclass .gc_left .submenu dt{
	float:left;
}
.goodsclass .gc_left .submenu dd{
	width:570px;
	line-height:24px;
	float:right;
	margin-top:10px;
}
.goodsclass .gc_left .submenu dd a{
	display:inline-block;
	font-size:13px;
	color:#666;
	margin-right:20px;
}
.goodsclass .gc_left .submenu dd a+a{
}
.goodsclass .gc_right{
	float:right;
	width:237px;
	height:490px;
	background-color:#FFF;
	box-shadow:-2px -2px 2px #E0D4B6;
}
/*商品列表右边部分*/
.goodsclass .gc_right .gcr_top{
	margin-bottom:14px;
}
.goodsclass .gc_right .cash,
.goodsclass .gc_right .cash_pay{
	padding-left:34px;
	padding-right:34px;
	height:38px;
}
.goodsclass .gc_right .cash p,
.goodsclass .gc_right .cash_pay p{
	display:inline-block;
	font-size:15px;
	color:#363636;
	height:34px;
	padding-left:37px;
	background:url(../img/dfg_03.png) 0 12px no-repeat;
}
.goodsclass .gc_right .cash span,
.goodsclass .gc_right .cash_pay span{
	float:right;
	font-size:15px;
	color:#FC9C46;
	height:32px;
}
.goodsclass .gc_right .cash_pay p{
	background:url(../img/dfg_06.png) 0 12px no-repeat;
}
.goodsclass .gc_right .rechange p{
	width:88px;
	height:28px;
	margin:8px auto;
	text-align:center;
	line-height:28px;
	font-size:15px;
	color:#FFF;
	background-color:#12DCB9;
	border-radius:5px;
	cursor:pointer;
}
.goodsclass .gc_right .gonggao{
	margin-top:12px;
}
.goodsclass .gc_right .gonggao p{
	width:100%;
	height:40px;
	text-align:center;
	line-height:40px;
	font-size:14px;
	color:#FFF;
	background:#E13C5C url(../img/laba.png) 76px no-repeat;
}
#gg_box{
	width:100%;
	height:322px;
	overflow:hidden;
}
.goodsclass .gc_right .gngo_list{
	border-bottom:1px solid #E2E2E2;
	padding:0px 8px;
}
.goodsclass .gc_right .gngo_list li{
	height:30px;
	line-height:29px;
	font-size:12px;
	color:#777;
	border-top:1px solid #E2E2E2;
	padding-left:10px;
	background:url(../img/homegglisp_03.png)0px 12px no-repeat;
	cursor:pointer;
}
.goodsclass .gc_right .gngo_list li span{
	float:right;
	font-size:12px;
	color:#C5C5C5;
}

/*广告位部分*/
/*广告位中间图片轮播部分*/
.banner_pics{
	display:inline-block;
	width:100%;
	height:490px;
	overflow:hidden;
	position:relative;
}
.banner_pics #pics{
	width:600%;
	position:absolute;
}
.banner_pics ul li{
	width:16.66%;
	float:left;
}
.banner_pics ul li img{
	width:100%;
	height:490px;
}
.banner_pics #banner_btns{
	position:absolute;
	bottom:6%;
	left:48%;
}
.banner_pics #banner_btns span{
	display:inline-block;
	width:24px;
	height:24px;
	background-color:#C1B69D;
	border-radius:50%;
	cursor:pointer;
}
.banner_pics #banner_btns .bannerbtn_on{
	background-color:#FFF;
	border-radius:50%;
	border:1px solid #B2A890;
}

/*中间主体部分*/
#main_content{
	height:auto;
	margin-top:30px;
}
#main_content .introduce{
	display:inline-block;
}
#main_content .introduce p{
	display:inline-block;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	font-size:18px;
	font-weight:bold;
	color:#FFF;
	margin-right:10px;
	background:url(../img/dfdcx.png) no-repeat;
}
#main_content .introduce span{
	font-size:22px;
	color:#000;
	font-weight:bold;
}
#main_content .splt_commenbtns{
	float:right;
	border:1px solid #DDD;
	border-bottom:none;
	margin-top:11px;
}
#main_content .splt_commenbtns span{
	display:inline-block;
	font-size:14px;
	color:#666;
	width:62px;
	height:38px;
	text-align:center;
	line-height:38px;
	position:relative;
	cursor:pointer;
}
#main_content .splt_commenbtns span+span{
	background:url(../img/竖线.png) -18% 48% no-repeat;
}
#main_content .splt_commenbtns .slbtns_on{
	border:1px solid #F680E4;
	border-top:4px solid #F680E4;
	border-bottom:none;
}
#main_content .splt_commenbtns .slbtns_on hr{
	width:100%;
	position:absolute;
	bottom:-1px;
	height:2px;
	border:0px;
	background-color:#FFF;
}
#main_content .splt_commenbtns span+span hr{
	display:none;
}
.spsw_comshow{
	margin:10px 0px;
}
.spsw_comshow .shoplist_on{
	border-right:1px solid #DDD;
	border-top:1px solid #F680E4;
	width:1201px;
	overflow:hidden;
}
.spsw_comshow .shoplist_hide{
	display:none;
}
.spsw_comshow .shoplist_on li{
	float:left;
	position:relative;
	border-left:1px solid #DDD;
	border-bottom:1px solid #DDD;
}
.spsw_comshow .shoplist_on li img{
	display:block;
	border:0px;
}
.spsw_comshow .shop_banner{
	width:399px;
	height:449px;
}
.spsw_comshow .shoplist_on li+li{
	width:242px;
	height:105px;
	padding-top:44px;
	padding-left:24px
}
.spsw_comshow .shoplist_on li+li a{
	font-size:19px;
	color:#000;
}
.spsw_comshow .shoplist_on li+li img{
	position:absolute;
	right:30px;
	top:8px;
	display:inline-block;
	width:117px;
	height:124px;
}
.spsw_comshow .shoplist_on .last_shop img{
	right:150px;
	top:16px;
}
.spsw_comshow .shoplist_on .last_shop{
	width:389px;
	padding-left:144px;
}
.spsw_comshow .shop_banner a.pic_logo{
	position:absolute;
	top:84px;
	right:30px;
	display:block;
	width:112px;
	height:98px;
	line-height:40px;
	font-size:28px;
	color:#FFF;
	text-align:center;
	background-color:#FF4F4B;
	border-radius:50%;
	padding-top:14px;
}
/*第二部分*/
#main_content .intrsecond p{
	background:url(../img/dsfsdf.png) no-repeat;
}
#main_content .splt_commenbtns .second_on{
	border-color:#07D0BB;
}
#main_content .spsw_comshow .sls_on{
	border-top-color:#07D0BB;
}
/*第三部分*/
#main_content .intrthird p{
	background:url(../img/3f_03.png) no-repeat;
}
#main_content .splt_commenbtns .tird_on{
	border-color:#3FCAED;
}
#main_content .spsw_comshow .tirdsls_on{
	border-top-color:#3FCAED;
}
/*页面尾部*/
#footer{
	width:100%;
	height:354px;
	background-color:#F5F5F5;
	border-top:1px solid #DDD;
	margin-top:108px;
	padding-top:26px;
}
#footer .ftensure{
	width:1005px;
	margin:0 auto;
	overflow:hidden;
}
#footer .ftensure li{
	float:left;
	width:224px;
}
#footer .ftensure li+li{
	margin-left:30px;
}
#footer .ftensure li img{
	float:left;
	margin-right:14px;
}
#footer .ftensure li p{
	font-size:15px;
	color:#363636;
	margin-top:16px;
	margin-bottom:3px;
}
#footer .ftensure li span{
	font-size:14px;
	color:#999;
}
#footer .fthelplist{
	width:1022px;
	margin:0 auto;
	overflow:hidden;
	padding-top:24px;
	
}
#footer .fthelplist li{
	float:left;
	width:103px;
	height:156px;
	padding-left:34px;
}
#footer .fthelplist .help_center{
	width:110px;
	padding:0px;
	padding-right:24px;
}
#footer .fthelplist li+li{
	border-left:1px dotted #C5C5C5;
}
#footer .fthelplist .aboutus{
	border-right:1px dotted #C5C5C5;
}
#footer .fthelplist .scanner{
	border:none;
	height:192px;
	width:auto;
}
#footer .fthelplist .scanner p{
	width:140px;
	font-size:16px;
	color:#666;
	font-weight:bold;
}
#footer .fthelplist li dd{
	margin:0;
	text-align:left;
}
#footer .fthelplist li dd a{
	display:block;
	font-size:13px;
	color:#777;
	margin-top:10px;
}
#footer .fthelplist li dd a:hover{
	text-decoration:underline;
}
#footer .ftrcprt{
	width:1202px;
	height:30px;
	margin:0 auto;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:#717171;
	border-top:1px solid #DFDEDE;
	margin-top:38px;
}
/*详情页*/
#detail_main{
	width:1202px;
	height:auto;
	margin:0 auto;
}
#detail_main:after{
	content: "";
	display: block;
	clear:both;
}
#detail_main .goods_show{
	width:1182px;
	height:440px;
	background-color:#F7FEFE;
	border:1px solid #DDD;
	padding:12px 10px 0px;
	margin-bottom:20px;
}
.picshow{
	width:321px;
	float:left;
	margin-right:68px;
	position:relative;
}
#fdimg{
	position:absolute;
	top:0;
	left:100%;
	width:375px;
	height:328px;
	border:1px solid #DDD;
	display:none;
	overflow:hidden;
}
#show{
	position:absolute;
	left:0;
	top:0;
	width:320px;
	height:320px;
	z-index:99;
}
#fdimg img{
	width:150%;
}
.picshow .bigpics{
	width:100%;
	height:320px;
	overflow:hidden;
	position:relative;
}
.picshow .bigpics #gsbig{
	width:500%;
	overflow:hidden;
}
.picshow .mask{
	position:absolute;
	top:0;
	left:0;
	width:100px;
	height:100px;
	background-color:#333;
	opacity:0.5;
	filter:alpha(opacity=50);
	/*cursor:pointer;*/
	display:none;
}
.picshow .bigpics #gsbig li{
	float:left;
	width:20%;
}
.picshow .bigpics #gsbig li img{
	width:100%;
}
.picshow #gssmall{
	margin-top:10px;
	overflow:hidden;
	margin-bottom:8px;
}
.picshow #gssmall li{
	float:left;
	width:50px;
	height:50px;
	border:2px solid #EEE;
	padding:1px;
	padding-top:0px;
	cursor:pointer;
}
.picshow #gssmall .gss_on{
	border-color:#E77174;
}
.picshow #gssmall li img{
	display:block;
	width:100%;
}
.picshow #gssmall li+li{
	margin-left:6px;
}
.picshow #share_btns{
	clear:both;
	height:44px;
	line-height:43px;
	border-top:1px dotted #EEE;
}
.picshow #share_btns span{
	display:inline-block;
	height:23px;
	line-height:23px;
	font-size:12px;
	color:#777;
	text-align:center;
	border:1px solid #EEE;
	border-radius:5px;
	cursor:pointer;
}
.picshow #share_btns .share{
	width:53px;
}
.picshow #share_btns .clltgoods,
.picshow #share_btns .join{
	width:74px;
}
.picshow #share_btns .tipoff{
	width:34px;
	margin-left:62px;
}
/*商品展示中间部分*/
#gss_middle{
	display:inline-block;
	padding-top:7px;
}
#gss_middle li{
	font-size:14px;
	color:#999;
	overflow:hidden;
}
#gss_middle li+li{
	margin-top:18px;
}
#gss_middle .pur_num{
	margin-top:0px;
}
#gss_middle .nowcar_btn{
	margin-top:42px;
}
#gss_middle .gssh_title,
#gss_middle .tocountry span{
	color:#333;
	font-weight:bold;
}
#gss_middle .price{
	float:left;
	line-height:24px;
}
#gss_middle .score{
	float:right;
	text-align:right;
	line-height:24px;
}
#gss_middle .tocountry{
	clear:both;
	height:42px;
	line-height:42px;
	border-top:1px dotted #DDD;
}
#gss_middle .price>span{
	text-decoration:line-through;
}
#gss_middle .price p span{
	color:#F78B0B;
}
#gss_middle .score p{
	width:70px;
	height:14px;
	background:url(../img/xing.png);
}
#gss_middle #increase,
#gss_middle #reduce{
	font-size:24px;
	cursor:pointer;
}
#gss_middle #buynum{
	width:55px;
	height:25px;
	border:1px solid #DDD;
	vertical-align:middle;
	margin:0px 10px;
	text-align:center;
}
#gss_middle #purchase_now,
#gss_middle #joinshop_car{
	height:40px;
	font-size:17px;
	color:#FFF;
	border:none;
	border-radius:10px;
	cursor:pointer;
}
#gss_middle #purchase_now{
	width:150px;
	background-color:#D6133B;
}
#gss_middle #joinshop_car{
	width:150px;
	background:#E77608 url(../img/detail/dpshopcar_03.png) 18px no-repeat;
	padding-left:50px;
	margin-left:20px;
}
#gss_middle #increase:hover,
#gss_middle #reduce:hover{
	color:#D6133B;
}
/*商品展示右边部分*/
#shop_detail{
	float:right;
	width:268px;
	height:386px;
	border:1px solid #EEE;
}
#shop_detail li{
	padding-left:14px;
	font-size:15px;
	color:#999;
}
#shop_detail .shopname{
	height:27px;
	line-height:27px;
	color:#333;
	font-weight:bold;
	background-color:#F7F8F8;
	border-bottom:1px solid #EEE;
}
#shop_detail .zgh_score{
	height:35px;
	line-height:35px;
	border-bottom:1px solid #EEE;
}
#shop_detail .spdscore{
	height:110px;
}
#shop_detail .zgh_score span{
	display:inline-block;
	width:120px;
	height:10px;
	background-color:#E77174;
	border-radius:5px;
	margin-left:8px;
}
#shop_detail .shop_danymics{
	width:232px;
	color:#333;
	margin-top:26px;
	margin-bottom:12px;
}
#shop_detail .company{
	height:66px;
	line-height:28px;
	padding-top:8px;
	border-top:1px solid #EEE;
	border-bottom:1px solid #EEE;
}
#shop_detail .enter_collect{
	height:53px;
}
#shop_detail .spdscore p+p{
	margin-top:8px;
}
#shop_detail .mapcode{
	margin-top:10px;
}
#shop_detail .shop_danymics span{
	float:right;
	color:#999;
}
#shop_detail .enter_collect input{
	height:32px;
	font-size:14px;
	color:#FFF;
	border:0px;
	border-radius:5px;
	margin-top:13px;
}
#shop_detail #enter_shop{
	width:104px;
	background-color:#35D3C9;
	margin-left:5px;
	cursor:pointer;
}
#shop_detail #collect_shop{
	width:104px;
	margin-left:17px;
	padding-left:34px;
	background:#E77174 url(../img/detail/strwhite_13.png)16px no-repeat;
	cursor:pointer;
}
#shop_detail .mapcode input{
	width:100px;
	height:34px;
	font-size:13px;
	color:#555;
	padding-left:26px;
	border:1px solid #DDD;
	cursor:pointer;
}
#shop_detail #shop_map{
	background:#F7F7F7 url(../img/ditu.png) 6px no-repeat;
	margin-left:12px;
}
#shop_detail #shop_qrcode{
	background:#F7F7F7 url(../img/er.png) 6px no-repeat;
	margin-left:-5px;
}
/*详情页商品详情部分*/
#detail_left{
	display:inline-block;
	width:210px;
	height:auto;
}
#detail_left .gsd_scanner,
#detail_left .self_deals,
#detail_left .gsdclass,
#detail_left .dtlbottom{
	width:207px;
	border:1px solid #DDD;
}
#detail_left .gsd_scanner{
	height:230px;
}
#detail_left .gsd_scanner p,
#detail_left .gsdclass p.gsctitle,
#detail_left .dtlbottom>p{
	font-size:15px;
	font-weight:bold;
	color:#666;
	height:30px;
	line-height:30px;
	background-color:#F7F7F7;
	border-bottom:1px solid #DDD;
}
#detail_left .gsd_scanner p,
#detail_left .self_deals,
#detail_left .gsdclass p.gsctitle,
#detail_left .gsdclass #classify_btns span,
#detail_left .dtlbottom>p{
	padding-left:7px;
}
#detail_left .gsd_scanner div{
	width:100%;
	height:200px;
	text-align:center;
}
#detail_left .gsd_scanner div img{
	margin-top:20px;
}
#detail_left .self_deals{
	width:200px;
	font-size:12px;
	font-weight:bold;
	color:#666;
	height:38px;
	line-height:38px;
	margin:8px 0px;
}
#detail_left .gsdclass #classify_btns{
	width:100%;
	height:27px;
	line-height:27px;
	background-color:#F9F9F9;
	border-bottom:1px solid #DDD;
}
#detail_left .gsdclass #classify_btns span{
	font-size:13px;
	color:#777;
	cursor:pointer;
}
#detail_left .gsdclass #searchF{
	width:126px;
	height:29px;
	font-size:12px;
	color:#A9A9A9;
	border:1px solid #DDD;
	margin:4px 0px 4px 4px;
}
#detail_left .gsdclass #searchbtn{
	width:62px;
	height:32px;
	font-size:14px;
	color:#777;
	background-color:#F5F5F5;
	border:1px solid #DDD;
	vertical-align:middle;
	cursor:pointer;
}
#detail_left .gsdclass p.allgs{
	height:37px;
	line-height:37px;
	font-size:13px;
	font-weight:bold;
	color:#363636;
	padding-left:16px;
}

#detail_left .dtlbottom{
	margin-top:10px;
}
#hotgsbtns{
	width:100%;
	height:28px;
	border-bottom:1px solid #DDD;
}
#hotgsbtns span{
	display:inline-block;
	width:84px;
	height:24px;
	text-align:center;
	line-height:24px;
	font-size:13px;
	color:#777;
	border:1px solid #DDD;
	border-radius:5px 5px 0px 0px;
	border-bottom:0;
	margin-top:3px;
	margin-left:6px;
	cursor:pointer;
}
#hotgsbtns span.htgsb_on{
	color:#000;
}
.dtlbottom .gdslist_hide{
	display:none;
}
.dtlbottom .gdslist li{
	height:57px;
	padding-left:6px;
	padding-top:7px;
}
.dtlbottom .gdslist li+li{
	border-top:1px dotted #E7E7E7;
}
.dtlbottom .gdslist li a.gdspic{
	display:inline-block;
	border:1px solid #E7E7E7;
	float:left;
}
.dtlbottom .gdslist li a{
	font-size:13px;
	color:#363636;
	margin-right:6px;
}
.dtlbottom .gdslist li a img{
	border:0px;
}
.dtlbottom .gdslist li p{
	font-size:12px;
	color:#666;
}
.dtlbottom .gdslist li p span{
	font-weight:bold;
}
.dtlbottom .gdslist li p.soldout{
	background:url(../img/jkjk.png) 54px no-repeat;
	padding-left:74px;
}
#lkotbtn{
	width:126px;
	height:40px;
	font-size:13px;
	color:#363636;
	background-color:#FEF4B1;
	border:1px solid #FFD863;
	border-radius:5px;
	margin-left:31px;
	cursor:pointer;
}
#dtright{
	float:right;
	width:957px;
}
#gsdsole_btns{
	height:30px;
	line-height:30px;
	background-color:#FCFCFC;
	border:1px solid #D7D7D7;
}
#gsdsole_btns span{
	display:inline-block;
	width:102px;
	height:97%;
	text-align:center;
	font-size:14px;
	color:#777;
	margin-top:-3px;
	background-color:#F5F5F5;
	border-right:1px solid #D7D7D7;
	cursor:pointer;
}
#gsdsole_btns span+span{
	margin-left:-4px;
}
#gsdsole_btns .gsdb_on{
	position:relative;
	top:-5px;
	left:-1px;
	height:36px;
	border-top:2px solid #E45155;
	border-left:1px solid #D7D7D7;
	background-color:#FFF;
}
#goods_introduce p{
	height:auto;
	border:1px solid #D7D7D7;
	border-top:0px;
	padding-left:18px;
	padding-bottom:16px;
}
#goods_introduce img{
	display:block;
	margin-top:16px;
}
#goods_introduce p span{
	display:inline-block;
	font-size:14px;
	color:#666;
	margin-top:14px;
}
#goods_introduce p span+span{
	margin-left:106px;
}
#goods_introduce .intro_hide{
	display:none;
}
/*列表页*/
#listpage_main{
	width:1202px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
#lttopnav{
	height:40px;
	line-height:40px;
}
#lttopnav span{
	font-size:15px;
	color:#A9A9A9;
	cursor:pointer;
}
#lttopnav .ltpnhome{
	background:url(../img/home.png) 0 5px no-repeat;
	padding-left:16px;
}
#lttopnav span+span{
	background:url(../img/dfsf.png) 0 5px no-repeat;
	padding-left:8px;
}
#lttopnav .ltpnav_on{
	cursor:text;
}
#lttopnav span:hover{
	text-decoration:underline;
	color:#D6123E;
}
#lttopnav .ltpnav_on:hover{
	text-decoration:none;
	color:#A9A9A9;
}
/*列表页主体内容左边*/
#listpage_left{
	display:inline-block;
	width:208px;
}
#listpage_left p{
	height:34px;
	line-height:34px;
	font-size:15px;
	color:#363636;
	border:1px solid #DDD;
	background:#EEE url(../img/dtu.png) 12px no-repeat;
	padding-left:30px;
	cursor:pointer;
}
#listpage_left p i{
	float:right;
	width:14px;
	height:8px;
	background:url(../img/jat.png) no-repeat;
	margin-right:14px;
	margin-top:13px;
}
#class_list{
	border:1px solid #DDD;
	border-top:0px;
}
#class_list dt{
	font-size:15px;
	color:#666;
	background:url(../img/fdf.png) 17px no-repeat;
	padding-left:36px;
}
#class_list dd{
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#B6B6B6;
	cursor:pointer;
}
#class_list .clslt_on{
	color:#D6123E;
}
#class_list dd:hover{
	color:#D6123E;
}
/*列表页主体内容右边*/
#listpage_right{
	float:right;
	width:958px;
}
.gdslist_topnav{
	height:37px;
	line-height:37px;
	background-color:#EEE;
	border:1px solid #DDD;
	padding-left:10px;
}
.gdslist_topnav #sorted_type{
	display:inline-block;
}
.gdslist_topnav>span,
#sorted_type span,
.listnext_pre p span{
	font-size:15px;
	color:#666;
}
#sorted_type span{
	cursor:pointer;
}
#sorted_type span+span{
	display:inline-block;
	margin-left:20px;
	background:url(../img/ujyuy4.png) 90% no-repeat;
	padding-right:16px;
}
#sorted_type .srttype_on,
#sorted_type span:hover{
	color:#D8314E;
}
.listnext_pre{
	float:right;
	padding-right:5px;
}
.listnext_pre p{
	display:inline-block;
	margin-right:64px;
}
.listnext_pre p select{
	width:82px;
	height:21px;
	border:1px solid #D6D6D6;
	color:#666;
}
.listnext_pre input{
	width:55px;
	height:22px;
	text-align:center;
	line-height:20px;
	font-size:13px;
	color:#666;
	background-color:#FFF;
	border:1px solid #D6D6D6;
	cursor:pointer;
}
.lstpg_gdslist{
	padding:0px 16px 14px;
	border:1px solid #DDD;
	overflow:hidden;
}
.listpage_hide{
	display:none;
}
.lstpg_gdslist li{
	float:left;
	width:221px;
	height:325px;
	border:1px solid #EEE;
	margin-top:14px;
}
.lstpg_gdslist li+li{
	margin-left:10px;
}
.lstpg_gdslist .fifth_list{
	margin-left:0px;
}
.lstpg_gdslist li a{
	display:block;
	font-size:13px;
	color:#363636;
}
.lstpg_gdslist li a img{
	border:0px;
}
.lstpg_gdslist li a.lstpag_title{
	padding-left:3px;
}
.lstpg_gdslist p .current_price{
	font-size:15px;
	color:#FF8808;
}
.lstpg_gdslist p .oglprice{
	font-size:12px;
	color:#999;
	text-decoration:line-through;
}
.lstpg_gdslist p .star{
	float:right;
	width:84px;
	height:14px;
	background:url(../img/xing.png);
	margin-top:5px;
	margin-right:5px;
} 
.lstpg_gdslist div{
	float:right;
	width:84px;
	height:19px;
	line-height:19px;
	border:1px solid #D6D6D6;
	margin-top:10px;
	margin-right:10px;
}
.lstpg_gdslist div input{
	background-color:#fff;
}
.lstpg_gdslist div input{
	margin-left:5px;
}
.lstpg_gdslist div span{
	float:right;
	font-size:14px;
	color:#999;
	margin-top:-1px;
	margin-right:3px;
}
#lstpg_btns{
	width:202px;
	margin:0 auto;
	margin-top:27px;
	overflow:hidden;
}
#lstpg_btns li{
	float:left;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:15px;
	color:#B6B6B6;
	border:1px solid #999;
	border-radius:50%;
	cursor:pointer;
}
#lstpg_btns .lstpg_btnon{
	background-color:#E77174;
	color:#FFF;
	border-color:#E77174;
}
#lstpg_btns li+li{
	margin-left:8px;
}
#lstpg_btns .list_miss{
	border:0px;
}
#lstpg_btns #btmnextpage{
	background:url(../img/hjkgf.png) 10px no-repeat;
	background-size:40%;
}
/*个人中心*/
.pnlctr_main{
	width:1202px;
	margin:0 auto;
	overflow:hidden;
}
.pnlctr_main img{
	border:0px;
}
#psnrctrtop_nav{
	height:40px;
	line-height:40px;
}
#psnrctrtop_nav span{
	font-size:15px;
	color:#999;
	cursor:pointer;
}
#psnrctrtop_nav span:last-child{
	cursor:text;
}
/*个人中心鼠标小手*/
#psnrctrtop_nav .prtp_home,
#pcuser_hdpic p,#pcuser_hdpic span,
#pcuser_hdpic div,.psnlctr_left dd,
#watch_detailbtn,.wgds_right,
.wgds_left{
	cursor:pointer;
}
#psnrctrtop_nav span:hover{
	color:#D6123E;
}
#psnrctrtop_nav span:last-child:hover{
	color:#999;
}
#psnrctrtop_nav .prtp_home{
	color:#777;
	padding-left:16px;
	background:url(../img/hgj.png) 0px 4px no-repeat;
}
#psnrctrtop_nav span+span{
	padding-left:10px;
	background:url(../img/dfsf.png) 0px 5px no-repeat;
}
/*个人中心左边内容*/
.psnlctr_left{
	width:207px;
	display:inline-block;
	height:auto;
}
.pcl_top{
	margin-bottom:10px;
}
.pcl_top .pcl_title{
	height:40px;
	line-height:40px;
	font-size:15px;
	color:#FFF;
	background-color:#EC514C;
}
.pcl_top li,.psnlctr_left dd{
	padding-left:15px;
}
.pcl_top li+li{
	background-color:#FD6760;
}
.pcl_top #pcuser_hdpic{
	height:76px;
	padding-top:16px;
}
#pcuser_hdpic img{
	float:left;
	border-radius:50%;
	border:3px solid #FFF;
	margin-right:10px;
}
#pcuser_hdpic p,
#pcuser_hdpic span,
#pcuser_hdpic div{
	font-size:15px;
	color:#F7C6C5;
}
#pcuser_hdpic p{
	padding-left:110px;
	background:url(../img/xcrgh.png) 90px no-repeat;
	margin-bottom:3px;
}
#pcuser_hdpic span{
	padding-left:33px;
	background:url(../img/dsfe.png) 13px no-repeat;
}
#pcuser_hdpic div{
	padding-left:110px;
	background:url(../img/vd.png) 90px no-repeat;
	margin-top:3px;
}
.pcl_top .pcluser_name{
	height:38px;
	font-size:13px;
	color:#FFF;
	font-weight:bold;
}
.pcl_top .pcluser_name span{
	display:inline-block;
	width:26px;
	height:17px;
	text-align:center;
	line-height:17px;
	font-weight:normal;
	margin-left:5px;
	background:url(../img/efxc.png) no-repeat;
}
.psnlctr_left dl{
	border:1px solid #DDD;
}
.psnlctr_left dl+dl{
	border-top:0px;
}
.psnlctr_left dd{
	margin:0;
}
.psnlctr_left dd{
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#666;
}
.psnlctr_left dd.acountmsg,.psnlctr_left dd:hover{
	background-color:#FCEDEC;
}
.psnlctr_left dt{
	height:36px;
	line-height:36px;
	font-size:15px;
	color:#333;
	font-weight:bold;
	border-bottom:1px solid #DDD;
	padding-left:32px;
	cursor:pointer;
}
.psnlctr_left dt i{
	display:inline-block;
	width:14px;
	height:8px;
	background:url(../img/jat.png) no-repeat;
	float:right;
	margin-right:14px;
	margin-top:12px;
}
#trademanage dt{
	background:#EEE url(../img/chui.png) 14px no-repeat;
}
#customservice dt{
	background:#EEE url(../img/efd.png) 14px no-repeat;
}
#datamanage dt{
	background:#EEE url(../img/wen.png) 14px no-repeat;
}
/*个人中心右边内容*/
.pstr_right{
	float:right;
	width:956px;
	height:724px;
	border:1px solid #DDD;
}
.acount_detail{
	border-bottom:1px solid #DDD;
	overflow:hidden;
	padding:16px 0px;
	margin-bottom:
}
.acount_detail li{
	float:left;
	width:200px;
	height:120px;
	text-align:center;
}
.acount_detail li+li{
	border-left:1px solid #DDD;
}
.acount_detail li>span{
	font-size:15px;
	color:#333;
}
.cashtrsr p,.duifucash p{
	font-size:13px;
	color:#A2A2A2;
	padding-top:50px;
	margin-top:4px;
}
.cashtrsr p span,.duifucash p span{
	font-size:20px;
	color:#666;
}
.cashtrsr p{
	background:url(../img/xianjin.png) no-repeat center top;
}
.duifucash p{
	background:url(../img/duifu_03.png) no-repeat center top;
}
.acount_detail .acount_secure{
	width:254px;
	text-align:left;
	padding-left:34px;
}
#raisesecure{
	margin:24px 0px;
}
#raisesecure>span{
	font-size:16px;
	color:#F8A245;
}
#raisesecure a{
	font-size:16px;
	color:#0ACBAD;
}
#raisesecure p{
	display:inline-block;
	width:170px;
	height:14px;
	background-color:#DDD;
	border-radius:7px;
	position:relative;
	margin:0px 6px;
}
#raisesecure p span{
	position:absolute;
	top:0;
	left:0;
	width:38px;
	height:14px;
	background-color:#EC7D05;
	border-radius:7px;
}
.acount_secure>p{
	display:inline-block;
	font-size:14px;
	color:#666;
}
#binding_phone{
	padding-left:20px;
	background:url(../img/dfcv_03.png) no-repeat;
}
#binding_email{
	float:right;
	padding-left:25px;
	background:url(../img/dfcv_06.png) 0 3px no-repeat;
}
#binding_phone span{
	color:#FF966E;
}
#binding_email span{
	color:#5BB75B;
}
.trade_remind{
	display:inline-block;
	padding-left:18px;
}
.trdr_title,.spcardtl{
	height:44px;
	line-height:44px;
	font-size:15px;
	color:#333;
	padding-left:18px;
}
.trdr_title{
	background:url(../img/vxds.png) 0px 16px no-repeat;
}
.trade_remind li+li{
	width:538px;
	height:90px;
	background-color:#EEFBFE;
	margin-bottom:8px;
	padding-left:8px;
	padding-top:8px;
	border:1px solid #FCFCFC;
}
.trade_remind .mindpic{
	float:left;
	margin-right:8px;
}
.mindtitle,.spcdtitle,
.shopcar_detail li+li p{
	font-size:15px;
	color:#333;
}
.trade_remind li+li div{
	margin-top:8px;
}
.trade_remind li+li div p{
	display:inline-block;
	margin-left:20px;
}
.trade_remind li+li div>span,
.trade_remind li+li>span,
.trade_remind li+li div p{
	font-size:12px;
	color:#999;
}
.trade_remind li+li div p span{
	color:#F78E06;
}
#watch_detailbtn{
	width:80px;
	height:26px;
	font-size:12px;
	color:#FFF;
	text-align:center;
	line-height:26px;
	background-color:#F1A29C;
	border-radius:5px;
	border:0px;
	margin-left:40px;
}
.trade_remind li+li>span{
	display:inline-block;
	margin-top:-7px;
}
.shopcar_detail{
	float:right;
	padding-right:15px;
}
.shopcar_detail li+li{
	width:322px;
	height:59px;
	background-color:#EEFBFE;
	border:1px solid #FCFCFC;
	margin-bottom:10px;
	padding-left:10px;
	padding-top:10px;
}
.spcdpic img{
	float:left;
	width:48px;
	height:48px;
	margin-right:10px;
}
.spcardtl{
	background:url(../img/gou.png) 0px 16px no-repeat;
}
.shopcar_detail li+li p{
	margin-top:4px;
}
.shopcar_detail li+li p span{
	color:#F7A80F;
}
/*收藏部分*/
.prlctr_collect li{
	width:300px;
	float:left;
}
.prlctr_collect li+li{
	margin-left:20px;
}
.prlctr_collect li div{
	display:inline-block;
	width:230px;
	height:112px;
	overflow:hidden;
	position:relative;
}
.wgdsshow_list{
	position:absolute;
	left:0;
	top:0;
	width:618px;
	height:100%;
}
.wgdsshow_list li{
	float:left;
	width:72px;
	height:106px;
}
.wgdsshow_list li+li{
	margin-left:6px;
}
.wgds_left,.wgds_right{
	display:inline-block;
	width:17px;
	height:28px;
}
.wgds_left{
	float:left;
	margin-left:7px;
	margin-top:20px;
	margin-right:16px;
	background:url(../img/gdfgd.png) no-repeat;
}
.wgds_right{
	float:right;
	margin-top:20px;
	background:url(../img/hjkgf.png) no-repeat;
}
.wgdsshow_list li a img{
	width:70px;
	height:64px;
}
.prlctr_collect li p{
	height:42px;
	line-height:42px;
	font-size:15px;
	color:#333;
	padding-left:43px;
	background:url(../img/wuxing.png) 22px 13px no-repeat;
}
.prlctr_collect li .myhand{
	background:url(../img/jiao.png) 22px 10px no-repeat;
}
.wgdstitle{
	font-size:15px;
	color:#333;
}
.wgdsshow_list span{
	font-size:15px;
	color:#F9A606;
}
.prlctr_collect>li>a{
	display:block;
	height:38px;
	line-height:30px;
	text-align:center;
	font-size:15px;
	color:#999;
	border-top:1px dotted #DDD;
	margin-top:7px;
}
